﻿@page "/login"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Login</PageTitle>


<div class="login-page-background">
    <div class="login-form">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCard Class="pb-2"
                     Elevation="5"
                     Style="width: 300px; height:350px;">
                <MudCardHeader>
                    <MudAvatar Class="mud-avatar-large">
                        <MudIcon Icon="@Icons.Material.Filled.AccountCircle"
                                 Size="Size.Large" />
                    </MudAvatar>
                    <MudText Typo="Typo.h3" Class="ml-3">Login</MudText>
                </MudCardHeader>
                <MudCardContent>
                    <MudTextField Label="Email"
                                  Class="mt-3"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                    @bind-Value="model.Email"
                                  For="@(() => model.Email)" />
                    <MudTextField Label="Password"
                                  Class="mt-3"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                    @bind-Value="model.Password"
                                  For="@(() => model.Password)"
                                  InputType="InputType.Password" />
                </MudCardContent>
                <MudCardActions Class="pa-4">
                    <MudText Class="mr-6"
                             Typo="Typo.overline">
                        Don't have an account?
                        <MudLink Href="/register"
                                 Typo="Typo.overline">
                            Register
                        </MudLink>
                    </MudText>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Login</MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </div>
</div>

