﻿body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.page-background-class {
    background-image: url('/img/cellphone-5459713.svg');
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: rgba(34,35,56,255);
    -moz-animation: changeBg 15s infinite ease-in-out;
    -webkit-animation: changeBg 15s infinite ease-in-out;
}

@-moz-keyframes changeBg {
    0%,100% {
        background-image: url('/img/cellphone-5459713.svg');
    }

    33% {
        background-image: url('/img/laptop-5459712.svg');
    }

    66% {
        background-image: url('/img/lock-5459714.svg');
    }
}

@-webkit-keyframes changeBg {
    0%,100% {
        background-image: url('/img/cellphone-5459713.svg');
    }

    33% {
        background-image: url('/img/laptop-5459712.svg');
    }

    66% {
        background-image: url('/img/lock-5459714.svg');
    }
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    backdrop-filter: blur(10px);
    background-size: cover;
}

.login-page-background {
    background-image: url('/img/laptop-5459712.svg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(34,35,56,255);
}
