﻿@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@inject AuthenticationStateProvider AuthenticationStateProvider
@page "/admin-dashboard"

<CascadingAuthenticationState>
    <AuthorizeView Roles="User">
        <p>You are an admin!</p>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    private AuthenticationState authState = default!;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var roles = user.Claims.Where(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role").Select(c => c.Value).ToList();
    }
}
