﻿@inherits LayoutComponentBase
@using VirtualWallet.Client.Components
<MudThemeProvider IsDarkMode="@_isDarkMode" Theme="Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <AppBar />
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>