﻿@using VirtualWallet.Client.NewFolder;
@inject AppSettings AppSettings

<MudAppBar Color="Color.Default" Elevation="1">
    <MudText Typo="Typo.h5" Class="ml-3">Virtual Wallet</MudText>
    <MudSpacer />
    <MudSwitch Checked="@AppSettings.IsDarkMode"
               CheckedChanged="@ToggleDarkMode"
               Color="Color.Primary"
               Class="ma-4"
               T="bool"
               Label="Toggle Light/Dark Mode" />
    <MudButton Variant="Variant.Text"
               EndIcon="@Icons.Material.Outlined.Login"
               Color="Color.Inherit"
               Style="text-transform:none">
        Login
    </MudButton>
    <MudButton EndIcon="@Icons.Material.Outlined.AppRegistration"
               Color="Color.Inherit"
               Style="text-transform:none">
        Sign Up
    </MudButton>
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub"
                   Color="Color.Inherit"
                   Edge="Edge.End" />
</MudAppBar>


@code {
    private void ToggleDarkMode(bool isDarkMode)
    {
        AppSettings.SetDarkMode(isDarkMode);
    }
}